
<h1>Edit Product</h1>


<form  method="POST" action="/products/{{id}}?_method=PUT">
<input type='text' name = "productName" value = 'Product Name'><br>
<input type='text' name = 'price' value ='Price'><br>
<input type='text' name = 'availability' value ='Availability'><br>
<input type='submit' value='submit'>
</form>

