
<h1>Hello World</h1>

{{#each productList}}
  <div class="product">
  <h1>Product: {{productList.product}}</h1>
  <h1>Price :{{productList.price}}</h1>
  <h1>Availability: {{productList.availability}}</h1>
  </div>
{{/each}}