<h1>Hello World</h1>

{{#each inventoryList}}
  <div class="product">
  <h1>Product: {{inventoryList.product}}</h1>
  <h1>Price :{{inventoryList.price}}</h1>
  <h1>Availability: {{inventoryList.availability}}</h1>
  </div>
{{/each}}